[submodule "square-games"]
	path = square-games
	url = https://github.com/joshhartigan/square-games
[submodule "intrst"]
	path = intrst
	url = https://github.com/joshhartigan/intrst
[submodule "try-assembly"]
	path = try-assembly
	url = https://github.com/joshhartigan/try-assembly
[submodule "address.js"]
	path = address.js
	url = https://github.com/joshhartigan/address.js
[submodule "coreutils-ruby"]
	path = coreutils-ruby
	url = https://github.com/joshhartigan/coreutils-ruby
[submodule "gem-store"]
	path = gem-store
	url = https://github.com/joshhartigan/gem-store
[submodule "receive"]
	path = receive
	url = https://github.com/joshhartigan/receive
[submodule "frankenlamp"]
	path = frankenlamp
	url = https://github.com/joshhartigan/frankenlamp
